$black: #232323;
$background: #ffdf8c;
$gray-line: #f6f6f6;
$gray: #ccc;
$orange: #fe5f1e;
$btn-bgcolor: transparent;
$btn-hbgcolor: #000;
$btn-color: #000;
$btn-hcolor: #fff;

$container-width: calc(100% - 40px);

$duration: 0.15s;