.catalog {
    padding: 20px 0;
    max-width: 1440px;
    margin: 0 auto;

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    &__more-products-block {
        display: flex;
        margin-top: 20px;
        justify-content: center;
    }
}